.cp_op92{
    font-weight: 600;
    margin-right: 10px;
    font-family: roboto; 

}

.cp_dye3{
    padding-bottom: 10px;
}

.cp_pwowk3{
    font-size: 15px;
}
.cp_pwowk3a{
    font-size: 15px;
    margin-left: 50%;
}