.li_suw3{
    margin:10px;
    margin-bottom: 5px;
}

.li_DIe89{
    text-align: left;
    padding: 10px;
}

.li_dujw29{
    font-weight: 500;
    font-family: roboto;
    margin-top: 5px;
}

.li_eui8{
    background-color: rgb(244, 251, 255);
    text-align: left;
    padding: 15px;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: rgb(60, 60, 163);
}

.li_idu333{
    margin-left: 55%;
    text-align: right;  
}

.li_modsk3{
    text-align: center;
}

.li_dflex{
    display: flex;
    margin-bottom: 10px;
}
.li_cenbtn{
    text-align: center;
}